/* div{
    display:flex;
    flex-wrap: wrap;
} */

/* .list{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid red;
    width: 100vw; 

} */



section{
    /* width: 100%;  */
    border: 1px solid black; 
    height:100vh;
    width: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;

}

.bkg-dark{
    background-color: black;  
    color: #fff; 
    height:100vh;
}

.dark{
    background-color: white;
}

.list{
    border: 1px solid hotpink; 
    width: 100%;
    display: block;
    position: relative;  
  
}


.btn{
    background: none;
    border:none;
}

.sunIcon{
    color: #fff; 
    position: absolute;
    top:0;
    right:0;
}

.moonIcon{
    position: absolute;
    top:0;
    right:0;
}