/* div{
    display:flex;
    flex-wrap: wrap;
} */

/* .list{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid red;
    width: 100vw; 

} */

section{
    /* width: 100%;  */
    /* border: 1px solid black; 
    height:100vh;
    width: 100vh; */
}

.landing{
    margin: 0 auto; 
    width: 100%;
}

.landing-title{
    text-align: center;
    padding-bottom: 2em;
}

.landing-search{
    text-align: center;
    padding-bottom: 2em;
} 

.landing-form{
    text-align: center;
    padding-bottom: 2em;
}

/* .landing-title{
    margin: 0 auto; 
}

.landing-search{
    text-align: center;
} */

.navbar{
    display: flex;
    justify-content: space-between;

}

.bkg-dark{
    background-color: black;  
    color: #fff; 
    height:100vh;
}

.dark{
    background-color: white;
}

.list{
    border: 1px solid hotpink; 
    width: 100%;
    display: block;
    position: relative;  
}

.btn{
    background: none;
    border:none;
}

.btn--border{
border: 1px solid black; 
padding: 0.4em;
border-radius: 10%; 
}

.sunIcon{
    color: #fff; 
    position: absolute;
    top:0;
    right:0;
    margin: 0.5em; 
}

.moonIcon{
    position: absolute;
    top:0;
    right:0;
    margin: 0.5em; 
    
}


