/* body {
    height: 100vw;
    width: 100vw;
    background-color: black;
  } */

  /* 
section{
    /* width: 50vw; */
    /* border: 1px solid white; */


.cryptoCoin_list{
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    position: relative;  
    /* border: 1px solid yellow; */
    grid-gap: 0.1em; 
    /* text-align: center; */
    margin: 0 auto; 
    width: 92%;
    /* padding: 2em;  */
}