
.cryptoCoin_list{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid yellow;
    width: 75vw;
    grid-gap: 0.5em; 
    text-align: center;
    margin: 0 auto; 
    /* padding: 2em;  */
}